# mini dns service and dyndns update service
# =======================
# Install:
# > mv mdns.service /lib/systemd/system/
# > systemctl enable mdns.service
# > systemctl start mdns.service
#
[Unit]
Description=The Mini DNS server for resolve hosts and dynamic dns resolve
After=network.target

[Service]
Type=forking
ExecStart=/usr/local/bin/mdns -c /etc/mdns/mdns.conf
#ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
#Restart=on-failure

[Install]
WantedBy=multi-user.target
